.pay__main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    .datos-impresos{
        font-family: 'Kanit', sans-serif;
        background-color: gray ;
        padding: 10px;
        color: white;
        
    }
    &--text{
        font-family: 'Kanit', sans-serif;
    }
    .color-formulario{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width:500px;
        gap: 10px;
        margin: 0;
        p{
            font-family: 'Kanit', sans-serif;
        }
        input{
            border: 1px solid rgb(166, 162, 162);
            height: 25px;
        }
        .btn-send{
            width: 50%;
            max-width: 150px ;
            font-family: 'Kanit', sans-serif;
            border: none;
            background-color:  rgb(31, 120, 228);
            color: white;
        }
    }
}