.main__pay{
    &--form{
        width: 80%;
        max-width: 600px;
        margin:0 auto;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60vh;
            gap:15px;
            width: 100%;
            p{
                text-align: center;
                font-family: 'Kanit', sans-serif;
            }
            input{
                border: 1px solid rgba(192, 192, 192, 0.521);
                padding: 10px;
            }
            #submit{
                background-color: rgba(35, 89, 236, 0.842);
                color:white;
                font-weight: bolder;
                max-width: 50%;
                align-self: center;
            }
        }
    }
}
@media screen and (min-width:768px){
    .main__pay{
        &--form{
            form{
                height: 70vh;
                gap:25px;
                p{
                    font-size: 25px;
                }
            }
        }
    }
}