.product__main{
    .main__search{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        input{
            width: 100%;
            border: 1px solid rgba(205, 205, 205, 0.471);
            height: 20px;
            border-radius: 20px;
            padding: 15px;
        }
    }
    .main__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .main__box--title{
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Kanit', sans-serif;
        }
        .main__box--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            // .cards-box{
            //     margin: 15px 0px;
            //     display: grid;
            //     grid-template-columns: repeat(1, 70%);
            //     gap: 10px;
            //     justify-content: center;
            //     .card{
            //         img{
            //             object-fit: cover;
            //             object-position: center;
            //         }
            //         .card-body{
            //             h5{
            //                 text-transform: uppercase;
            //                 font-family: 'Kanit', sans-serif;
            //             }
            //         }
            //     }
            // }
            .product__contenido{
                width: 100%;
                .listado{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 0 auto;
                    align-self: flex-start;
                    li{
                        font-family: 'Kanit', sans-serif;
                    }
                }
            }
            .carrito{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin:15px auto;
                width: 100%;
                .collection{
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    li{
                        font-family: 'Kanit', sans-serif;
                        color: #1f78e4;
                    }
                }
                a{
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 568px){
    .product__main{
        .main__box{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .main__box--container{
                max-width: 75%;
                .cards-box{
                    grid-template-columns: repeat(3, 1fr);
                }
            
            }
        }
    }
}