.product__main{
    .main__search{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        input{
            width: 100%;
            border: 1px solid rgba(205, 205, 205, 0.471);
            height: 20px;
            border-radius: 20px;
            padding: 15px;
        }
    }
    .seleccion{
        display: flex;
        justify-content: center;
        width: 30%;
        margin: 10px auto;
        select{
            width: 100%;
            border: .5px solid rgba(128, 128, 128, 0.541);
        }
    }
    .main__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-around;
        gap: 15px;
        width: 80%;
        margin: 25px auto;
        .producto{
            height: fit-content;
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 430px;
                img{
                    height: 200px;
                    width: 200px;
                    align-self: center;
                }
                .card-body{
                    margin: 0px;
                    padding: 10px;
                    span{
                        
                        font-family: 'Kanit', sans-serif;
                        text-transform: uppercase;
                        
                    }
                }
                .card-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 10px;
                    font-family: 'Kanit', sans-serif;
                    p{
                        font-size: 1rem;
                        line-height: normal;
                    }
                }
                
            }
        }
        
    }
    #exampleModal{
        .modal-content{
            .modal-body{
                .productoEnCarrito{
                    display: flex;
                    justify-content: space-around;
                    button{
                        border: none;
                        color: gray;
                        background-color: white;
                    }
                }
            }
            .precioProducto{
                display: flex;
                justify-content: flex-end;
                padding: 10px;
            }
        }
    }
}

@media screen and (min-width: 568px){
    .product__main{
        font: 100;
    }
}

